@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}


<div class="row">
    <div class="col">
        <h2 class="mx-5 px-2">Grade Calculator</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="mx-5 px-2 text-muted">(Input the percentage that you have received for the given category)</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-5">
        <form class="mx-5 px-5">
            <div class="form-group">
                <label class="">Assignment</label>
                <input class="form-control" type="number" id="assignments" />
            </div>
            <div class="form-group">
                <label>Group Project</label>
                <input class="form-control" type="number" id="groupProjects" />
            </div>
            <div class="form-group">
                <label>Quizzes</label>
                <input class="form-control" type="number" id="quizzes" />
            </div>
            <div class="form-group">
                <label>Midterm Exam</label>
                <input class="form-control" type="number" id="midterm" />
            </div>
            <div class="form-group">
                <label>Final Exam</label>
                <input class="form-control" type="number" id="final" />
            </div>
            <div class="form-group">
                <label>INTEX</label>
                <input class="form-control" type="number" id="intex" /><br />
            </div>
            <input type="button" value="Submit" class="btn btn-success" id="btnSubmit" />
        </form>
    </div>
</div>

<br />
<br />
<div class="row">
    <div class="col">
        <span class="ml-5 pl-2 font-weight-bold" id="heading"></span>
        <span id="grade"></span>
    </div>
</div>

