@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 Assignment";
}

<div class="row text-center">
    <div class="col">
        <h1 class="py-3">Tanner Woodrum</h1><br />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <img src="img/DoingWhatILove copy.jpg" class="img-fluid border" alt="Doing What I Love" /><br />
    </div>
</div><br /><br />
<div class="row">
    <div class="col">
        <h2 class="mx-5 px-2">What I hope to get from this class</h2><br />
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="mx-5 px-2">
            I really hope that I will be able to get a good foundation of how to use React in ASP.NET! This would
            ultimately be the goal. I have a good knowledge and background on how to use C# and ASP.NET in general, but
            diving deep into it would be awesome! I also would love to get into specific data structures that are not
            commonly gone over in our core classes.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="mx-5 px-2">Top 3 Jobs I'm interested in pursuing</h2><br />
    </div>
</div>
<div class="row">
    <div class="col">
        <ol class="mx-5 px-4">
            <li>Software Engineer</li>
            <li>Back-end Developer</li>
            <li>Web Developer</li>
        </ol>
        <br />
    </div>
</div>



